.introduction .informetion_heding{
    width: 1100px;
    margin-top: 50px;
}
.introduction .in_img{
    width: 500px;
}
.introduction{
    margin-top: 20px;
   
}
.introduction .intro_bg{
    border: 1px solid rgba(128, 128, 128, 0.089);
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.171);
}
.introduction .intro_p{
    padding-top: 51px;
}

.guides{
    margin-top: 50px;
  
}
